@import url('https://fonts.googleapis.com/css?family=Padauk');

body {
    background: #ffffff;
    font-family: 'Padauk', sans-serif;
}

h3 {
    margin-bottom: 0;
}

canvas {
    width: 100%;
    height: 100%;
    background: #ffffff;
}

p {
    margin: 0;
}

/*button related styling*/

#onscreen {
    margin: 0;
    padding: 0;
    padding-left: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.button {
    border: 3px solid gray;
    margin-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    width: 3em;
    text-align: center;
    font-weight: bold;
}

.button:hover{
    background: gray;
    color: white;
}

#close{
    margin-top: 3em;
}

/*
#controls {
    margin-left:10px;
    margin-top:10px;
}
*/

/*
https://www.html5rocks.com/en/tutorials/casestudies/gopherwoord-studios-resizing-html5-games/
*/
#canvasArea {
    position: absolute;
    left: 50%;
    top: 50%;
}

/*
#controlArea {
    position: absolute;
    width: 100%;
    height: 10%;
    bottom: 0;
    opacity: 0.8;
    border: red solid 3px;
}
*/

/* The side navigation menu */

#controls {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background: rgba(213, 216, 220, 0.8); /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 50px; /* Place content 60px from the top */
    padding-left: 0px;
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

